Two Factor Experiment : Isme ham Treatment aur block dono me decide krenge variability h ya ni koi column standout kr rha h ya koi row stand out kr rha h

In [13]:
import numpy as np 
import pandas as pd 
from warnings import filterwarnings

Yha pe a = 3 liya h aur b = 10

In [14]:
np.random.seed(42)
df = pd.DataFrame([np.random.uniform(1,5,10),np.random.uniform(1,11,10),np.random.uniform(1,4,10)])
df.columns = ['Land1','Land2','Land3','Land4','Land5','Land6','Land7','Land8','Land9','Land10']
df.index = ['Wheat1','Wheat2','Wheat3']
df

,Land1,Land2,Land3,Land4,Land5,Land6,Land7,Land8,Land9,Land10
Wheat1,2.498160,4.802857,3.927976,3.394634,1.624075,1.623978,1.232334,4.464705,3.404460,3.832290
Wheat2,1.205845,10.699099,9.324426,3.123391,2.818250,2.834045,4.042422,6.247564,5.319450,3.912291
Wheat3,2.835559,1.418482,1.876434,2.099086,2.368210,3.355528,1.599021,2.542703,2.777244,1.139351

In [15]:
rowmean = df.mean(axis=1)
columnmean = df.mean(axis=0)
mean = np.sum(rowmean) / 3

Variability between the wheat/rows

In [16]:
vr = 10*np.sum((rowmean - mean)**2)
vr

np.float64(39.49679563445717)

Variability between the Land/columns

In [17]:
vc = 3*np.sum((columnmean - mean)**2)
vc

np.float64(42.11848873319916)

random error

In [18]:
arr = np.array(df)
ve = 0
for i in range(3) :
    for j in range(10):
        ve = ve + (arr[i][j] - columnmean[j] - rowmean[i] + mean)**2

ve

C:\Users\mdamb\AppData\Local\Temp\ipykernel_17144\3091582405.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ve = ve + (arr[i][j] - columnmean[j] - rowmean[i] + mean)**2

np.float64(58.96365883359184)

Its time to calculate variance

In [19]:
sr = vr / 2
sc = vc / 9
se = ve / 18

Two Null hypothesis is there : 
1. Ho1 - Means of wheats are same 
2. H02 - Means of lands are same

In [20]:
F1 = sr/se
F2 = sc/se
print(F1,"   ",F2)

6.028648285095923     1.428625345386609

In [21]:
from scipy import stats
p1 = 1 - stats.f.cdf(F1,2,18)
p2 = 1 - stats.f.cdf(F2,9,18)
print(p1,"   ",p2)

0.009906113458816979     0.24780609139448018

1. p = 0.009906 < 0.05 ;; Ho1 -> rejected so, means of land are not same 
2. p = 0.247 > 0.05 ;; Ho2 fails to reject so, Land means are same

# Through Pyhton Library

In [43]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

data = df.reset_index().melt(id_vars='index', var_name='Land', value_name='Yield')
data.rename(columns={'index': 'Wheat'}, inplace=True)

model = ols('Yield ~ C(Wheat) + C(Land)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

             sum_sq    df         F    PR(>F)
C(Wheat)  39.496796   2.0  6.028648  0.009906
C(Land)   42.118489   9.0  1.428625  0.247806
Residual  58.963659  18.0       NaN       NaN